body {
    background: #282828;
}

.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 100vh;
    width: 100vw;
}
.loading-logo {
    width: 512px;
    height: 512px;
}
.percentage-counter {
    font-size: 36px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    color: #FFF;
    margin-top: 50px;
}
